@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/NotoSans-Bold.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/NotoSans-Italic.ttf');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/DMSans-Regular.ttf');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/DMSans-Bold.ttf');
}

@font-face {
    font-family: 'DM Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/DMSans-Italic.ttf');
}
