#slash-messages {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;

    --icon-size: 24px;

    .message {
        display: flex;
        flex-direction: row;
        align-items: top;
        width: 256px;
        padding: 8px;
        border-radius: 8px;
        border: var(--button-border);
        background-color: var(--white);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
        animation: slide-in-right 0.5s forwards, fade-in 0.5s forwards;

        &.remove {
            animation: fade-out 0.5s forwards;
        }

        .icon {
            position: relative;
            display: block;
            mask-size: var(--icon-size);
            mask-position: center;
            width: var(--icon-size);
            height: var(--icon-size);
            margin-right: 8px;
            flex-basis: 1;
            flex-grow: 0;
            flex-shrink: 0;

            &::before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: var(--icon-size);
                height: var(--icon-size);
            }
        }

        &.info .icon {
            mask-image: url('../img/info.png');

            &::before {
                background-color: var(--info-text-color);
            }
        }

        &.debug .icon {
            mask-image: url('../img/debug.png');

            &::before {
                background-color: var(--debug-text-color);
            }
        }

        &.warning .icon {
            mask-image: url('../img/warning.png');

            &::before {
                background-color: var(--warning-text-color);
            }
        }

        &.error .icon {
            mask-image: url('../img/error.png');

            &::before {
                background-color: var(--error-text-color);
            }
        }
    }
}

/* Animations */

@keyframes slide-in-right {
    from {
        transform: translateX(16px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}