body {
    /* Colors */
    --white: #ffffff;
    --black: #101010;

    --primary-color: #1a7d8e;
    --secondary-color: #e2a32d;

    --main-bg-color: #f1efec;
    --main-text-color: var(--black);

    --button-bg-color: var(--white);
    --button-bg-color-hover: #eee;
    --button-text-color: var(--black);
    --button-border: 1px solid #bbb;

    --input-bg-color: var(--white);
    --input-text-color: var(--black);
    --input-border: 1px solid #bbb;

    --table-bg-color: var(--white);
    --table-border: 1px solid #bbb;

    --pre-bg-color: #eee;
    --pre-text-color: #444;
    --pre-border: 1px solid #bbb;

    --dialog-bg-color: var(--white);
    --dialog-border: 1px solid #bbb;
    --dialog-backdrop-color: rgba(0, 0, 0, 0.075);

    --error-text-color: #ba5912;
    --info-text-color: #1a7d8e;
    --warning-text-color: #e2a32d;
    --debug-text-color: #7faa6c;

    --shadow: 0px 0px 8px rgba(0, 0, 0, 0.075);

    /* Fonts */
    --main-font: 'DM Sans';
}

html,
body {
    /* margin: 0px; */
    /* padding: 0px; */
}

body,
button,
input {
    font-family: var(--main-font);
}

/* Default style */

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

button,
input[type~="button"],
input[type~="reset"],
input[type~="submit"] {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: var(--button-border);
    border-radius: 4px;
    font-size: 1rem;
    padding: 8px 16px;
    margin: 4px;
    line-height: 22px;
    min-width: 64px;
    box-shadow: var(--shadow);
    cursor: pointer;

    transition: background-color 0.2s;

    &:hover {
        background-color: var(--button-bg-color-hover);
    }
}

input[type~="color"] {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: var(--button-border);
    border-radius: 4px;
    font-size: 1rem;
    padding: 6px;
    margin: 4px;
    width: 40px;
    height: 40px;
    box-shadow: var(--shadow);
    cursor: pointer;

    transition: background-color 0.2s;

    &:hover {
        background-color: var(--button-bg-color-hover);
    }
}

input[type~="text"],
input[type~="password"],
input[type~="date"],
input[type~="datetime-local"],
input[type~="email"],
input[type~="month"],
input[type~="number"],
input[type~="search"],
input[type~="tel"],
input[type~="time"],
input[type~="url"],
input[type~="week"],
textarea,
select {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border: var(--input-border);
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    line-height: 22px;
    outline: none;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

input[type="range"] {
    accent-color: var(--primary-color);
}

div.table {
    box-shadow: var(--shadow);
    border-radius: 8px;

    table {
        display: block;

        background-color: var(--table-bg-color);
        color: var(--main-text-color);

        border-radius: 8px;
        outline: var(--table-border);
        outline-offset: -1px;
        clip-path: xywh(0px 0px 100% 100% round 8px);

        border-collapse: collapse;

        td,
        th {
            border: var(--table-border);
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: var(--primary-color);
            border: 1px solid rgba(0, 0, 0, 0.25);
            color: var(--white);
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }
    }
}

pre {
    background-color: var(--pre-bg-color);
    color: var(--pre-text-color);
    border: var(--pre-border);
    border-radius: 8px;
    padding: 8px;
    box-shadow: var(--shadow);
    overflow: auto;
}

dialog {
    background-color: var(--dialog-bg-color);
    border: var(--dialog-border);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 16px;

    &::backdrop {
        background-color: var(--dialog-backdrop-color);
    }

    animation: fade-in 0.5s forwards,
    slide-in-up 0.5s forwards;
}