.slash-loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    animation: fade-in 1.0s forwards;
    background-color: color-mix(in srgb, var(--bg-dark) 75%, rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(4px);

    > :first-child {
        text-align: center;
    }

    > :last-child {
        width: 48px;
        height: 48px;
        border: 4px solid var(--text);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotate 1s linear infinite;

        &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: 4px solid;
            border-color: var(--primary-color) transparent var(--secondary-color) transparent;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#slash-messages {
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    max-width: 100dvw;
    box-sizing: border-box;
    z-index: 100;

    --icon-size: 24px;

    .message {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;
        max-width: 512px;
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid var(--border);
        background-color: var(--bg-light);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
        animation: slide-in-right 0.5s forwards, fade-in 0.5s forwards;
        line-height: 22px;

        .title {
            display: flex;
            align-items: center;
            margin-left: -4px;
        }

        .icon {
            position: relative;
            display: block;
            mask-size: var(--icon-size);
            mask-position: center;
            width: var(--icon-size);
            height: var(--icon-size);
            margin-right: 6px;
            flex-basis: 1;
            flex-grow: 0;
            flex-shrink: 0;

            &::before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: var(--icon-size);
                height: var(--icon-size);
            }
        }

        &.info .icon {
            mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12%2017q.425%200%20.713-.288T13%2016v-4q0-.425-.288-.712T12%2011t-.712.288T11%2012v4q0%20.425.288.713T12%2017m0-8q.425%200%20.713-.288T13%208t-.288-.712T12%207t-.712.288T11%208t.288.713T12%209m0%2013q-2.075%200-3.9-.788t-3.175-2.137T2.788%2015.9T2%2012t.788-3.9t2.137-3.175T8.1%202.788T12%202t3.9.788t3.175%202.137T21.213%208.1T22%2012t-.788%203.9t-2.137%203.175t-3.175%202.138T12%2022%22%2F%3E%3C%2Fsvg%3E");

            &::before {
                background-color: var(--info-text-color);
            }
        }

        &.debug .icon {
            mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cmask%20id%3D%22cutout%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23fff%22%2F%3E%3Crect%20x%3D%2210%22%20y%3D%2210%22%20width%3D%224%22%20height%3D%222%22%20rx%3D%221%22%20fill%3D%22%23000%22%2F%3E%3Crect%20x%3D%2210%22%20y%3D%2214%22%20width%3D%224%22%20height%3D%222%22%20rx%3D%221%22%20fill%3D%22%23000%22%2F%3E%3C%2Fmask%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22currentColor%22%20mask%3D%22url(%23cutout)%22%3E%3Cpath%20d%3D%22M9.094%204.75A4%204%200%200%201%208%202h2a2%202%200%201%200%204%200h2a4%204%200%200%201-1.094%202.75A6.02%206.02%200%200%201%2017.659%208H19a1%201%200%201%201%200%202h-1v2h1a1%201%200%201%201%200%202h-1v2h1a1%201%200%201%201%200%202h-1.341A6.003%206.003%200%200%201%206.34%2018H5a1%201%200%201%201%200-2h1v-2H5a1%201%200%201%201%200-2h1v-2H5a1%201%200%201%201%200-2h1.341a6.02%206.02%200%200%201%202.753-3.25M8%2016v-6a4%204%200%201%201%208%200v6a4%204%200%200%201-8%200%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");

            &::before {
                background-color: var(--debug-text-color);
            }
        }

        &.warning .icon {
            mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M2.725%2021q-.275%200-.5-.137t-.35-.363t-.137-.488t.137-.512l9.25-16q.15-.25.388-.375T12%203t.488.125t.387.375l9.25%2016q.15.25.138.513t-.138.487t-.35.363t-.5.137zM12%2018q.425%200%20.713-.288T13%2017t-.288-.712T12%2016t-.712.288T11%2017t.288.713T12%2018m0-3q.425%200%20.713-.288T13%2014v-3q0-.425-.288-.712T12%2010t-.712.288T11%2011v3q0%20.425.288.713T12%2015%22%2F%3E%3C%2Fsvg%3E");

            &::before {
                background-color: var(--warning-text-color);
            }
        }

        &.error .icon {
            mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M12%2017q.425%200%20.713-.288T13%2016t-.288-.712T12%2015t-.712.288T11%2016t.288.713T12%2017m0-4q.425%200%20.713-.288T13%2012V8q0-.425-.288-.712T12%207t-.712.288T11%208v4q0%20.425.288.713T12%2013m0%209q-2.075%200-3.9-.788t-3.175-2.137T2.788%2015.9T2%2012t.788-3.9t2.137-3.175T8.1%202.788T12%202t3.9.788t3.175%202.137T21.213%208.1T22%2012t-.788%203.9t-2.137%203.175t-3.175%202.138T12%2022%22%2F%3E%3C%2Fsvg%3E");

            &::before {
                background-color: var(--error-text-color);
            }
        }

        &.remove {
            animation: fade-out 0.5s forwards;
        }

        p {
            margin: 8px 0px;
        }
    }
}

/* Core components */

.slash-column {
    display: flex;
    flex-direction: column;
}

.slash-row {
    display: flex;
    flex-direction: row;
}

.slash-panel {
    border: 1px solid var(--border-muted);
    background-color: var(--bg);
    padding: 16px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.slash-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-light);
    box-shadow: var(--shadow);

    >div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;

        box-sizing: border-box;
        height: 40px;
        padding: 8px;
        cursor: pointer;
        border-bottom: 4px solid var(--border);
        color: #888;

        &.selected {
            color: var(--text);
            border-color: var(--primary-color);
            font-weight: bold;
        }

        transition: 0.3s border-color;
    }
}

.slash-progress {
    position: relative;
    height: 24px;
    line-height: 24px;
    border: 1px solid var(--border-muted);
    border-radius: 4px;
    text-align: center;
    font-size: 0.75rem;
    color: var(--text);
    text-shadow: 0px 0px 1px var(--bg), 0px 0px 1px var(--bg), 0px 0px 2px var(--bg);
    box-shadow: var(--shadow);

    --value: 0%;

    span {
        position: relative;
        z-index: 10;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        border-radius: 3px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: var(--value);
        height: 100%;
        border-radius: 3px;
        --color-1: var(--primary-color);
        --color-2: color-mix(in srgb, var(--primary-color), var(--white) 17%);
        background: repeating-linear-gradient(-45deg, var(--color-1), var(--color-1) 32px, var(--color-2) 32px, var(--color-2) 64px);
        background-size: 96px;
        animation: slash-progress 2.0s linear infinite;
    }

    &.completed::after {
        background: var(--green);
    }
}

.slash-checkbox,
.slash-radio {
    position: relative;
    cursor: pointer;
    padding-left: 26px;
    margin: 6px 6px 6px 0px;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid var(--border);
        box-shadow: var(--shadow);
        background-color: var(--bg-light);
        box-sizing: border-box;
    }

    &.checked {
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%22-6%20-6%2036%2036%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22m9%2020.42l-6.21-6.21l2.83-2.83L9%2014.77l9.88-9.89l2.83%202.83z%22%2F%3E%3C%2Fsvg%3E");
            background-position: center;
            background-repeat: no-repeat;
            filter: var(--invert-filter);
        }
    }

    &.disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.slash-radio::before {
    border-radius: 20px;
}

.slash-radio.checked::after {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%223%22%20fill%3D%22currentColor%22%20%2F%3E%3C%2Fsvg%3E");
}

.slash-data-table {
    table {
        background-color: var(--bg-light);
        color: var(--text);
        border-collapse: collapse;
        box-shadow: var(--shadow);
        border: 1px solid var(--border-muted);
    }

    td,
    th {
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: var(--primary-color);
        color: var(--white);
        font-weight: bold;

    }

    tr:nth-child(odd) {
        background-color: var(--bg);
    }

    th {
        cursor: pointer;
        user-select: none;

        label.sort {
            position: relative;
            margin-right: 16px;

            &::before {
                position: absolute;
                left: 0px;
                top: 4px;
                content: '';
                border-bottom: 5px solid currentColor;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                opacity: 0.5;
            }

            &::after {
                position: absolute;
                left: 0px;
                bottom: 4px;
                content: '';
                border-top: 5px solid currentColor;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                opacity: 0.5;
            }

            &.asc::before {
                opacity: 1.0;
            }

            &.desc::after {
                opacity: 1.0;
            }
        }
    }

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        gap: 8px;

        button {
            position: relative;
            width: 32px;
            height: 24px;
            min-width: 32px;
            padding: 0px;

            &::before {
                content: '';
                position: absolute;
                left: -1px;
                /* due to border ? */
                top: -1px;
                width: 32px;
                height: 24px;
                background-size: 14px;
                background-position: center;
                background-repeat: no-repeat;
                filter: var(--invert-filter);
            }


            &.first::before {
                background-image: url("../img/first.png");
            }

            &.prev::before {
                background-image: url("../img/prev.png");
            }

            &.next::before {
                background-image: url("../img/next.png");
            }

            &.last::before {
                background-image: url("../img/last.png");
            }
        }

        span {
            font-size: 14px;
            margin: 0px 8px;
        }
    }
}

.slash-upload {
    display: block;
    height: 48px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 2px dashed var(--border-muted);
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &.drag {
            border-color: var(--blue);
            /* background-color: rgba(255, 255, 255, 0.5); */
        }
    }

    input[type~="file"] {
        display: none;
    }
}

.slash-download {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: var(--bg-light);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 1rem;
    padding: 8px 16px 8px 32px;
    margin: 4px;
    line-height: 22px;
    min-width: 64px;
    box-shadow: var(--shadow);
    cursor: pointer;
    box-sizing: border-box;

    transition: background-color 0.2s;

    &:hover {
        background-color: var(--bg-extra-light);
    }

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 40px;
        height: 40px;
        background-image: url("../img/download.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        filter: var(--invert-filter);
    }
}

.slash-tooltip {
    position: absolute;
    background-color: var(--bg-light);
    border-radius: 4px;
    border: 1px solid var(--border-muted);
    box-shadow: var(--shadow);
    padding: 8px;
    z-index: 100;

    .slash-tip {
        position: absolute;
        bottom: -5px;
        left: calc(50% - 4px);
        width: 8px;
        height: 8px;
        background-color: var(--bg-light);
        transform: rotate(45deg);
        border-right: 1px solid var(--border-muted);
        border-bottom: 1px solid var(--border-muted);
    }
}

/* Animations */


@keyframes slash-progress {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 96px 0px;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(16px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slide-in-up {
    from {
        transform: translateY(16px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}