#slash-loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-color: var(--main-bg-color);
    animation: fade-in 1.0s forwards;

    span {
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
    }

    div {
        width: 48px;
        height: 48px;
        border: 4px solid var(--fg);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotate 1s linear infinite;

        &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: 4px solid;
            border-color: var(--primary-color) transparent var(--secondary-color) transparent;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#slash-messages {
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    max-width: 100dvw;
    box-sizing: border-box;
    z-index: 100;

    --icon-size: 24px;

    .message {
        position: relative;
        max-width: 512px;
        padding: 8px 8px 8px 38px;
        border-radius: 8px;
        border: 1px solid var(--border-light);
        background-color: var(--bg-light);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
        animation: slide-in-right 0.5s forwards, fade-in 0.5s forwards;
        line-height: 22px;

        &.remove {
            animation: fade-out 0.5s forwards;
        }

        .icon {
            position: absolute;
            top: 7px;
            left: 7px;
            display: block;
            mask-size: var(--icon-size);
            mask-position: center;
            width: var(--icon-size);
            height: var(--icon-size);
            margin-right: 6px;
            flex-basis: 1;
            flex-grow: 0;
            flex-shrink: 0;

            &::before {
                content: '';
                position: absolute;
                left: 0px;
                top: 0px;
                width: var(--icon-size);
                height: var(--icon-size);
            }
        }

        &.info .icon {
            mask-image: url('../img/info.png');

            &::before {
                background-color: var(--info-text-color);
            }
        }

        &.debug .icon {
            mask-image: url('../img/debug.png');

            &::before {
                background-color: var(--debug-text-color);
            }
        }

        &.warning .icon {
            mask-image: url('../img/warning.png');

            &::before {
                background-color: var(--warning-text-color);
            }
        }

        &.error .icon {
            mask-image: url('../img/error.png');

            &::before {
                background-color: var(--error-text-color);
            }
        }

        p {
            margin: 8px 0px;
        }
    }
}

/* Core components */

.slash-column {
    display: flex;
    flex-direction: column;
}

.slash-row {
    display: flex;
    flex-direction: row;
}

.slash-panel {
    border: 1px solid var(--border);
    background-color: var(--bg);
    padding: 8px;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.slash-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-light);
    box-shadow: var(--shadow);

    >div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;

        box-sizing: border-box;
        height: 40px;
        padding: 8px;
        cursor: pointer;
        border-bottom: 4px solid var(--border-light);
        color: #888;

        &.selected {
            color: var(--fg);
            border-color: var(--primary-color);
            font-weight: bold;
        }

        transition: 0.3s border-color;
    }
}

.slash-progress {
    position: relative;
    height: 24px;
    line-height: 24px;
    border: 1px solid var(--border);
    border-radius: 4px;
    text-align: center;
    font-size: 0.75rem;
    color: var(--fg);
    text-shadow: 0px 0px 1px var(--bg), 0px 0px 1px var(--bg), 0px 0px 2px var(--bg);
    box-shadow: var(--shadow);

    --value: 0%;

    span {
        position: relative;
        z-index: 10;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        border-radius: 3px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: var(--value);
        height: 100%;
        border-radius: 3px;
        --color-1: var(--primary-color);
        --color-2: color-mix(in srgb, var(--primary-color), var(--white) 17%);
        background: repeating-linear-gradient(-45deg, var(--color-1), var(--color-1) 32px, var(--color-2) 32px, var(--color-2) 64px);
        background-size: 96px;
        animation: slash-progress 2.0s linear infinite;
    }

    &.completed::after {
        background: var(--green);
    }
}

.slash-checkbox,
.slash-radio {
    position: relative;
    cursor: pointer;
    padding-left: 26px;
    margin: 6px 6px 6px 0px;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid var(--border-light);
        box-shadow: var(--shadow);
        background-color: var(--bg-light);
        box-sizing: border-box;
    }

    &.checked {
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 20px;
            height: 20px;
            background-image: url("../img/check.png");
            background-size: 67%;
            background-position: center;
            background-repeat: no-repeat;
            filter: var(--invert-filter);
        }
    }

    &.disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.slash-radio::before {
    border-radius: 20px;
}

.slash-radio.checked::after {
    background-image: url("../img/dot.png");
}

.slash-data-table {
    table {
        background-color: var(--bg-light);
        color: var(--fg);
        border-collapse: collapse;
        box-shadow: var(--shadow);
        border: 1px solid var(--border-light);
    }

    td,
    th {
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: var(--primary-color);
        color: var(--white);
        font-weight: bold;

    }

    tr:nth-child(odd) {
        background-color: var(--bg);
    }

    th {
        cursor: pointer;
        user-select: none;

        label.sort {
            position: relative;
            margin-right: 16px;

            &::before {
                position: absolute;
                left: 0px;
                top: 4px;
                content: '';
                border-bottom: 5px solid currentColor;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                opacity: 0.5;
            }

            &::after {
                position: absolute;
                left: 0px;
                bottom: 4px;
                content: '';
                border-top: 5px solid currentColor;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                opacity: 0.5;
            }

            &.asc::before {
                opacity: 1.0;
            }

            &.desc::after {
                opacity: 1.0;
            }
        }
    }

    .controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        gap: 4px;

        button {
            position: relative;
            width: 32px;
            height: 24px;
            min-width: 32px;
            padding: 0px;

            &::before {
                content: '';
                position: absolute;
                left: -1px;
                /* due to border ? */
                top: -1px;
                width: 32px;
                height: 24px;
                background-size: 14px;
                background-position: center;
                background-repeat: no-repeat;
                filter: var(--invert-filter);
            }


            &.first::before {
                background-image: url("../img/first.png");
            }

            &.prev::before {
                background-image: url("../img/prev.png");
            }

            &.next::before {
                background-image: url("../img/next.png");
            }

            &.last::before {
                background-image: url("../img/last.png");
            }
        }

        span {
            font-size: 14px;
            margin: 0px 8px;
        }
    }
}

.slash-upload {
    display: block;
    height: 48px;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 2px dashed var(--border);
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;

        &.drag {
            /* border-color: var(--primary-color); */
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    input[type~="file"] {
        display: none;
    }
}

.slash-download {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: var(--button-border);
    border-radius: 4px;
    font-size: 1rem;
    padding: 8px 16px 8px 32px;
    margin: 4px;
    line-height: 22px;
    min-width: 64px;
    box-shadow: var(--shadow);
    cursor: pointer;
    box-sizing: border-box;

    transition: background-color 0.2s;

    &:hover {
        background-color: var(--button-bg-hover);
    }

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 40px;
        height: 40px;
        background-image: url("../img/download.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        filter: var(--invert-filter);
    }
}

/* Animations */


@keyframes slash-progress {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 96px 0px;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(16px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slide-in-up {
    from {
        transform: translateY(16px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1.0;
    }
}

@keyframes fade-out {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}