body {
    /* Background, text colors, borders */
    --bg-dark: #f1efec;
    --bg: #f8f7f6;
    --bg-light: #fff;
    --bg-extra-light: #fff;

    --text: #101010;
    --text-muted: #6f6f6f;

    --highlight: #fff;
    --border: #ccc;
    --border-muted: #bbb;

    /* Colors */
    --white: #ffffff;
    --black: #101010;
    --gray: #777;
    --light-gray: #ccc;
    --dark-gray: #333;

    --red: #c04016;
    --orange: #e27b2d;
    --yellow: #e2a32d;
    --green: #589e3c;
    --teal: #1a8e75;
    --blue: #1a7d8e;
    --indigo: #4058b0;
    --purple: #6b50a2;
    --pink: #ce5ca7;
    --aubergine: #a23f61;

    /* Semantic colors */
    --error-text-color: var(--red);
    --info-text-color: var(--blue);
    --warning-text-color: var(--yellow);
    --debug-text-color: var(--green);

    --primary-color: var(--blue);
    --secondary-color: var(--yellow);

    /* Specifics */

    --dialog-backdrop-color: rgba(0, 0, 0, 0.075);

    --code-bg: var(--bg);
    --code-text: var(--text-muted);
    --code-border: var(--border-muted);

    --shadow: 0px 0px 8px rgba(0, 0, 0, 0.075);
    --invert-filter: invert(0);

    /* Fonts */
    --main-font: 'DM Sans';
}

body.dark {
    /* Background, text colors, borders */
    --bg-dark: #161515;
    --bg: #252524;
    --bg-light: #3d3c3a;
    --bg-extra-light: #5b5a57;

    --text: #f2f2f2;
    --text-muted: #ccc;

    --highlight: #999999;
    --border: #777069;
    --border-muted: #44413f;

    /* Specifics */

    --dialog-backdrop-color: rgba(0, 0, 0, 0.67);

    --code-bg: var(--bg);
    --code-text: var(--text-muted);
    --code-border: var(--border-muted);

    --error-text-color: var(--red);
    --info-text-color: var(--blue);
    --warning-text-color: var(--yellow);
    --debug-text-color: var(--green);

    --shadow: 0px 0px 8px rgba(0, 0, 0, 0.075);
    --invert-filter: invert(1);
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100dvh;
}

body,
button,
input {
    font-family: var(--main-font);
}

/* Default style */

body {
    background-color: var(--bg-dark);
    color: var(--text);
}

button,
input[type~="button"],
input[type~="reset"],
input[type~="submit"] {
    background-color: var(--bg-light);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 1rem;
    padding: 8px 16px;
    line-height: 22px;
    min-width: 64px;
    box-shadow: var(--shadow);
    cursor: pointer;

    transition: background-color 0.2s;

    &:hover {
        background-color: var(--bg-extra-light);
    }

    &.disabled,
    &:disabled {
        opacity: 0.4;
        cursor: default;

        &:hover {
            background-color: var(--bg-light);
        }
    }
}

*::placeholder {
    color: var(--text-muted);
}

input[type~="color"] {
    background-color: var(--bg-light);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 1rem;
    padding: 6px;
    margin: 4px;
    width: 40px;
    height: 40px;
    box-shadow: var(--shadow);
    cursor: pointer;

    transition: background-color 0.2s;

    &:hover {
        background-color: var(--bg-extra-light);
    }
}

input[type~="text"],
input[type~="password"],
input[type~="date"],
input[type~="datetime-local"],
input[type~="email"],
input[type~="month"],
input[type~="number"],
input[type~="search"],
input[type~="tel"],
input[type~="time"],
input[type~="url"],
input[type~="week"],
textarea,
select {
    background-color: var(--bg-light);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 8px;
    line-height: 22px;
    outline: none;
    font-size: 1rem;
    box-shadow: var(--shadow);
}

textarea {
    margin: 0px;
}

input[type="range"] {
    accent-color: var(--primary-color);
}

dialog {
    background-color: var(--bg);
    color: var(--text);
    border: 1px solid var(--border-muted);
    border-radius: 8px;
    box-shadow: var(--shadow);
    padding: 16px;

    &::backdrop {
        background-color: var(--dialog-backdrop-color);
    }

    animation: fade-in 0.5s forwards,
    slide-in-up 0.5s forwards;
}

blockquote {
    color: var(--text-muted);
    /* padding: 0.01px; */
    padding-left: 12px;
    margin: 0px;
    border-left: 8px solid var(--border-muted);
    font-style: italic;
}

code {
    background-color: var(--code-bg);
    color: var(--code-text);
    border: 1px solid var(--code-border);
    border-radius: 4px;
    padding: 3px;
    margin: 0px 2px;
    box-shadow: var(--shadow);
}

pre code {
    display: block;
    border-radius: 8px;
    padding: 8px;
    overflow: auto;
    box-sizing: border-box;
}

hr {
    border: 1px solid var(--border-muted);
    border-bottom: 0px;
}

p {
    line-height: 1.4;
}

a {
    color: var(--blue);
}

details summary {
    cursor: pointer;
}

ul {
    list-style-type: square;
    padding-left: 24px;
}

ol {
    padding-left: 24px;
}

li {
    margin: 4px 0px;
}